<h2>{{month}} {{year}}</h2>

<!-- Weekday headers -->
<div class="calendar-grid">
  <div class="calendar-day header">Mon</div>
  <div class="calendar-day header">Tue</div>
  <div class="calendar-day header">Wed</div>
  <div class="calendar-day header">Thu</div>
  <div class="calendar-day header">Fri</div>
  <div class="calendar-day header">Sat</div>
  <div class="calendar-day header">Sun</div>

  <!-- Calendar days -->
  <ng-container *ngFor="let week of weeks">
    <ng-container *ngFor="let day of week">
      <div class="calendar-day">
        <div *ngIf="day" class="day-number">{{day}}</div>

        <ng-container *ngIf="day">
          <div *ngFor="let app of getAppointmentsForDay(day)" class="appointment">
            <strong>{{app.time || ''}}</strong> {{app.title}}<br />
            <em *ngIf="app.description">{{app.description}}</em><br />
            <small *ngIf="app.location">Location: {{app.location}}</small><br/>
            <small>------------</small>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
