.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  border: 1px solid #ccc;
}

.calendar-day {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 4px;
}

.calendar-day.header {
  font-weight: bold;
  text-align: center;
  background-color: #f4f4f4;
  min-height: auto; /* don't force tall header cells */
}

.day-number {
  font-weight: bold;
}
